<!-- -------------------------------------------------

   <!bootstrap:displayName>

   <!bootstrap:copyright>
   License: <!bootstrap:license> (see LICENSE.md file)
  
  --------------------------------------------------- -->
&nbsp;<a id="settings-button" class="d-none" href="#" onclick="window.application.modules.main.openSettings();" title="Settings"><svg class="bi" fill="black" width="24" height="24">
     <use xlink:href="#gear" />
 </svg></a>
&nbsp;<a id="logout-button" class="d-none" href="#" onclick="window.application.modules.main.logout();" title="Logout"><svg class="bi" fill="black" width="24" height="24">
     <use xlink:href="#box-arrow-right" />
 </svg></a>
 
   
